<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title> Item insert</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> New Item Insert</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>


    <!-- Search Query Form -->
    <form action="/insert" method="POST">
        <div class="form-group">
            <label>Item Name</label>
            <input type="TEXT" class="form-control" name="name" required>
        </div>
        <div class="form-group">
            <label>Category</label>
            <input type="TEXT" class="form-control" name="category" required>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="TEXT" class="form-control" name="description" required>
        </div>

        <button type="submit" class="btn btn-warning btn-lg"> Insert </button>
    </form>

    <form action='/profile' method="get">
        <div>
            <button type="submit" class="btn btn-warning btn-lg"> Cancel Insert </button>
        </div>
    </form>
	<hr>
</div>

</div>
</body>
</html>
