<!-- views/searchFound.ejs -->
<!doctype html>
<html>
<head>
	<title>ShareIITK-searchFound</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
    

</head>
<body>
<div class="container">

	<div class="page-header text-center">
        <% if ( itemList.length == 0 ) { %>
            <h1><span class="fa fa-anchor"></span> No Matches Found!</h1>
        <% } else{ %>
            <h1><span class="fa fa-anchor"></span> The following items matched your search!</h1>
        <% }%>
	</div>

	<div class="row">

    
    <div>
        <% for ( var i=0; i < itemList.length; i++ ) { %>
           <% if(itemList[i].request_notification == null) {%>
		    <% if(itemList[i].item_status == 2) {%>
		   <% if(user._id.toString().localeCompare(itemList[i].username) !=0) {%>
			<li>
				<strong>
				<% console.log("username"  +" " +itemList[i].username+ "    "+user._id)%>
                   <form action='/request' method='post'>  
                    <div class="form-group">

                    <%= itemList[i].name %> 
                    <input type="hidden" name='request_button_ownerid' value='<%= itemList[i].username %>'>
                    <input type="hidden" name='request_button_itemid' value='<%= itemList[i]._id %>'>
                    <button class="btn btn-default" type="submit">  Request  </button>
                
                    </div>
                    </form>
                </strong>
            </li>
			<%}%>
			<% }%>
            <% } %>
            <% } %>
    </div>
</div>
</body>
</html>
