<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>TMP Checks </title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Item Request Succesful<br> We'll notify you when your object is ready :P</h1>
</div>
  <div>
	<form action="/return_to_dashboard" method="post">
        <div>
			<button type="submit" class="btn btn-warning btn-lg">Return to DashBoard</button>
         </div>
	</form>
</div>
</body>
</html>
